<header>
    <nav>
        <img src="assets/logoSemFundo.png" alt="logo" routerLink="/" class="full-width-image" style="width: 200px;">
        <ul>
            <li class="dropdown">
                Creatina <span class="arrow">⯆</span>
                <ul class="submenu">
                    <li>Creatina Monohidratada</li>
                    <li>Creatina Micronizada</li>
                    <li>Creatina Líquida</li>
                </ul>
            </li>
            <li class="dropdown">
                Whey <span class="arrow">⯆</span>
                <ul class="submenu">
                    <li>Whey Concentrado</li>
                    <li>Whey Isolado</li>
                    <li>Whey Hidrolisado</li>
                </ul>
            </li>
            <li class="dropdown">
                Pré-treino <span class="arrow">⯆</span>
                <ul class="submenu">
                    <li>Com Cafeína</li>
                    <li>Sem Cafeína</li>
                    <li>Pump Focus</li>
                </ul>
            </li>
            <li class="entrar"><a routerLink="/login">Entrar</a></li>
            <li class="entrar"><a routerLink="/cadastro">Cadastrar-se</a></li>
        </ul>
    </nav>
</header>