
<div class="flex items-center justify-center m-5">
    
    <form class="p-5 rounded-2xl border-2 flex items-center justify-center flex-col w-xl h-xl">
        <p>{{titulo}}</p>

        <label for="email">Email</label><br>
        <input class="text-[20px] border-2 border-[#000] rounded-md" id="email" name="email" type="email"
            placeholder="Digite seu email" />

        <label for="input-senha">Senha</label><br>
        <input class="text-[20px] border-2 border-[#000] rounded-md" id="input-senha" name="senha" type="password"
            placeholder="Digite sua senha" />

        <button class="">
            Confirmar
        </button>

    </form>

</div>