<body>
    <main class="container">
        <form>
            <img src="assets/logoSemFundo.png" alt="logo" routerLink="/" class="full-width-image"
                style="width: 200px; display: block; margin: 0 auto;" />
            <div class="input-box">
                <input placeholder="Email" type="email" name="usuario" required>
                <i class="bx bxs-user"></i>
            </div>

            <div class="input-box">
                <input placeholder="Senha" type="password" name="senha" required>
                <i class="bx bxs-lock-alt"></i>
            </div>

            <div class="input-box">
                <input placeholder="Nome" type="text" name="senha" required>
            </div>

            <div class="input-box">
                <input placeholder="Telefone" type="text" name="senha" required>
            </div>

            <div class="input-box">
                <input placeholder="Endereço" type="text" name="senha" required>
            </div>

            <button type="button" class="login" id="cadastroButton">Cadastrar</button>

            <div class="register-link">
                <p>Já possui cadastro?<a href="./login"> Login</a></p>
            </div>
        </form>
    </main>
</body>