<div class="marquee-wrapper">
    <div class="marquee">

        <span> 🔥 Produtos em promoção! Aproveite os melhores preços! 🔥</span>
        <span> 🚚 Entrega Rápida para todo o Brasil! 🚚</span>
        <span> 💸 5% off pagando no pix 💸 </span>
        <span> 🛒 Sua compra segura com Mercado Pago 🛒</span>
        <span> ✔️™️As melhores marcas estão aqui! ✔️™️</span>

    </div>
</div>


<section class="banner">
    <a routerLink='/' fragment="creatina">
        <img class="banner" src="assets/propaganda.png" alt="Creatina" />
    </a>
</section>


<section class="info-bar">
    <div class="info-item">
        <img src="assets/caminhao.png" alt="Entrega Rápida">
        <div>
            <strong>Entrega Rápida</strong>
            <p>Para todo país</p>
        </div>
    </div>
    <div class="info-item">
        <img src="assets/desconto.png" alt="Desconto">
        <div>
            <strong>5% OFF</strong>
            <p>Pagando no pix</p>
        </div>
    </div>
    <div class="info-item">
        <img src="assets/compraSegura.png" alt="Compra Segura">
        <div>
            <strong>Sua compra segura</strong>
            <p>Com o Mercado Pago</p>
        </div>
    </div>
    <div class="info-item">
        <img src="assets/whatsapp.png" alt="WhatsApp">
        <div>
            <strong>Contato exclusivo</strong>
            <p>Via WhatsApp</p>
        </div>
    </div>
</section>

<main class="home-main">
    <section class="brands">
        <h2>PARCERIAS</h2>
        <div class="brand-logos">
            <a href="https://www.google.com/aclk?sa=l&ai=DChcSEwjx19nx3rmNAxVvnFoFHYeTDwQYABAHGgJ2dQ&co=1&gclid=Cj0KCQjwucDBBhDxARIsANqFdr3a7FT1lbfxIRz-bLk7dhjnzF5OEK0E1zCWnTEbRV1FsgyonSdNPagaAoqdEALw_wcB&ei=-X0waIS7DYHZ1sQPjZK-uAw&category=acrcp_v1_0&sig=AOD64_1vgEvBZIzhhLYqjcAJqL1hsqLyNA&q&sqi=2&adurl&ved=2ahUKEwjEm9Dx3rmNAxWBrJUCHQ2JD8cQ0Qx6BAgJEAE"
                target="_blank" rel="noopener noreferrer">
                <img src="assets/blackskull.jpg" alt="blackSkull" />
            </a>
            <a href="https://darklabsuplementos.com.br/?utm_source=google&utm_medium=cpc&utm_campaign=8dh-gads-vendas-institucional&gad_source=1&gad_campaignid=19643348789&gbraid=0AAAAApDtcy5RSLismP0DNb83hSXvdSUaw&gclid=Cj0KCQjwucDBBhDxARIsANqFdr0IPnYKh_Kvr0sSQ5CIq1XE5Tn8iN-SFewa-uNZY1TE_PDUAqFpZL4aApYREALw_wcB"
                target="_blank" rel="noopener noreferrer">
                <img src="assets/dklab.jpg" alt="darkLab" />
            </a>
            <a href="https://grsuplementos-fabrica.com/?gad_source=1&gad_campaignid=22561891874&gbraid=0AAAAA_Dpuiw0250KgZd_O9OI2UK8obg5_&gclid=Cj0KCQjwucDBBhDxARIsANqFdr0OLqfADzW5IzVMPQeuYs5t_TivShyatVfuLdEPShdwF9OVx2UI0qUaAoQgEALw_wcB"
                target="_blank" rel="noopener noreferrer">
                <img src="assets/grouth.jpg" alt="grouth" />
            </a>
        </div>
    </section>

    <section id="featured">
        <h2>Destaques</h2>
        <div class="product-grid">
            <div class="product-card">
                <img src="assets/produtos/proteinBar.png" alt="Produto em destaque 1">
                <h3>Protein Bar</h3>
                <p>­</p>
                <p class="preco-original">R$ 119,90</p>
                <p class="preco-pix">R$ 109,90 no Pix</p>
                <p class="parcelado">ou 2x de R$ 59,95</p>
                <button class="buy-button">Comprar</button>
            </div>
            <div class="product-card">
                <img src="assets/produtos/glutanneTurbo.jpg" alt="Produto em destaque 2">
                <h3>Glutanne Turbo</h3>
                <p>­</p>
                <p class="preco-original">R$ 199,90</p>
                <p class="preco-pix">R$ 179,90 no Pix</p>
                <p class="parcelado">ou 3x de R$ 66,63</p>
                <button class="buy-button">Comprar</button>
            </div>
            <div class="product-card">
                <img src="assets/produtos/whey100.jpg" alt="Hipercalórico 3kg">
                <h3>Golden Standard Whey 100%</h3>
                <p class="preco-original">R$ 189,90</p>
                <p class="preco-pix">R$ 159,90 no Pix</p>
                <p class="parcelado">ou 3x de R$ 56,63</p>
                <button class="buy-button">Comprar</button>
            </div>
            <div class="product-card">
                <img src="assets/produtos/creatinaIntegral.jpg" alt="Colágeno em pó">
                <h3>Creatina Integral</h3>
                <p>­</p>
                <p class="preco-original">R$ 99,90</p>
                <p class="preco-pix">R$ 84,90 no Pix</p>
                <p class="parcelado">ou 2x de R$ 44,95</p>
                <button class="buy-button">Comprar</button>
            </div>
            <div class="product-card">
                <img src="assets/produtos/creatinaMax.jpg" alt="ZMA 90 cápsulas">
                <h3>Max Titanium </h3>
                <p>­</p>
                <p class="preco-original">R$ 69,90</p>
                <p class="preco-pix">R$ 59,90 no Pix</p>
                <p class="parcelado">ou 2x de R$ 31,00</p>
                <button class="buy-button">Comprar</button>
            </div>
            <div class="product-card">
                <img src="assets/produtos/wheyBlack.jpg" alt="WheyBlack">
                <h3>Whey Black</h3>
                <p>­</p>
                <p class="preco-original">R$ 49,90</p>
                <p class="preco-pix">R$ 39,90 no Pix</p>
                <p class="parcelado">ou 2x de R$ 22,00</p>
                <button class="buy-button">Comprar</button>
            </div>
        </div>
    </section>

    <section class="promotions">
        <h2>Promoções</h2>
        <div class="product-grid">
            <div class="product-card">
                <img src="assets/prodPromo/preTreInsano.jpg" alt="Pré-Treino Insano">
                <h3>Pré-Treino Insano</h3>
                <p class="preco-original">R$ 149,90</p>
                <p class="preco-pix">R$ 119,90 no Pix</p>
                <p class="parcelado">ou 2x de R$ 64,95</p>
                <button class="buy-button">Comprar</button>
            </div>
            <div class="product-card">
                <img src="assets/prodPromo/bcaa.png" alt="BCAA 2400">
                <h3>BCAA 2400</h3>
                <p class="preco-original">R$ 89,90</p>
                <p class="preco-pix">R$ 74,90 no Pix</p>
                <p class="parcelado">ou 2x de R$ 39,95</p>
                <button class="buy-button">Comprar</button>
            </div>
            <div class="product-card">
                <img src="assets/prodPromo/hipercal.png" alt="Hipercalórico 3kg">
                <h3>Hipercalórico 3kg</h3>
                <p class="preco-original">R$ 189,90</p>
                <p class="preco-pix">R$ 159,90 no Pix</p>
                <p class="parcelado">ou 3x de R$ 56,63</p>
                <button class="buy-button">Comprar</button>
            </div>
            <div class="product-card">
                <img src="assets/prodPromo/colageno.jpg" alt="Colágeno em pó">
                <h3>Colágeno em pó</h3>
                <p class="preco-original">R$ 99,90</p>
                <p class="preco-pix">R$ 84,90 no Pix</p>
                <p class="parcelado">ou 2x de R$ 44,95</p>
                <button class="buy-button">Comprar</button>
            </div>
            <div class="product-card">
                <img src="assets/prodPromo/zma.jpg" alt="ZMA 90 cápsulas">
                <h3>ZMA 90 cápsulas</h3>
                <p class="preco-original">R$ 69,90</p>
                <p class="preco-pix">R$ 59,90 no Pix</p>
                <p class="parcelado">ou 2x de R$ 31,00</p>
                <button class="buy-button">Comprar</button>
            </div>
            <div class="product-card">
                <img src="assets/prodPromo/omg3.jpeg" alt="Ômega 3 Premium">
                <h3>Ômega 3 Premium</h3>
                <p class="preco-original">R$ 49,90</p>
                <p class="preco-pix">R$ 39,90 no Pix</p>
                <p class="parcelado">ou 2x de R$ 22,00</p>
                <button class="buy-button">Comprar</button>
            </div>
        </div>
    </section>
    <section id="creatina">
        <h2>Creatina</h2>
        <div class="product-grid">
            <div class="product-card">
                <img src="assets/creatinas/creaMax.jpg" alt="Pré-Treino Insano">
                <p></p>
                <h3>Creatina Max</h3>
                <p>­</p>
                <p>­</p>
                <p class="preco-original">R$ 199,90</p>
                <p class="preco-pix">R$ 169,90 no Pix</p>
                <p class="parcelado">ou 3x de R$ 66,63</p> <!-- Corrigido -->
                <button class="buy-button">Comprar</button>
            </div>
            <div class="product-card">
                <img src="assets/creatinas/creaMono.png" alt="BCAA 2400">
                <h3>Creatina Monohidratada</h3>
                <p class="preco-original">R$ 189,90</p>
                <p class="preco-pix">R$ 174,90 no Pix</p>
                <p class="parcelado">ou 2x de R$ 94,95</p> <!-- Corrigido -->
                <button class="buy-button">Comprar</button>
            </div>
            <div class="product-card">
                <img src="assets/creatinas/creDarkness.png" alt="Hipercalórico 3kg">
                <h3>Creatina Darkness</h3>
                <p>­</p>
                <p>­</p>
                <p class="preco-original">R$ 189,90</p>
                <p class="preco-pix">R$ 159,90 no Pix</p>
                <p class="parcelado">ou 3x de R$ 63,30</p> <!-- Corrigido -->
                <button class="buy-button">Comprar</button>
            </div>
            <div class="product-card">
                <img src="assets/creatinas/creHard.jpeg" alt="Colágeno em pó">
                <h3>Creatina Hardcore</h3>
                <p class="preco-original">R$ 99,90</p>
                <p>­</p>
                <p>­</p>
                <p class="preco-pix">R$ 84,90 no Pix</p>
                <p class="parcelado">ou 2x de R$ 49,95</p> <!-- Corrigido -->
                <button class="buy-button">Comprar</button>
            </div>
            <div class="product-card">
                <img src="assets/creatinas/creNewMix.png" alt="ZMA 90 cápsulas">
                <h3>Creatina New Mix</h3>
                <p>­</p>
                <p>­</p>
                <p class="preco-original">R$ 169,90</p>
                <p class="preco-pix">R$ 159,90 no Pix</p>
                <p class="parcelado">ou 3x de R$ 56,63</p> <!-- Corrigido -->
                <button class="buy-button">Comprar</button>
            </div>
            <div class="product-card">
                <img src="assets/creatinas/nutrataCre.png" alt="Ômega 3 Premium">
                <h3>Creatina Nutrata</h3>
                <p>­</p>
                <p>­</p>
                <p class="preco-original">R$ 149,90</p>
                <p class="preco-pix">R$ 129,99 no Pix</p>
                <p class="parcelado">ou 2x de R$ 64,99</p> <!-- Corrigido -->
                <button class="buy-button">Comprar</button>
            </div>
        </div>
    </section>

    <section id="proteina">
        <h2>Proteina</h2>
        <div class="product-grid">
            <div class="product-card">
                <img src="assets/proteina/isolateproteinmax.png" alt="Pré-Treino Insano">
                <p></p>
                <h3>Isolate Protein Max</h3>
                <p>­</p>
                <p>­</p>
                <p class="preco-original">R$ 280,90</p>
                <p class="preco-pix">R$ 261,80 no Pix</p>
                <p class="parcelado">ou 3x de R$ 66,63</p> <!-- Corrigido -->
                <button class="buy-button">Comprar</button>
            </div>
            <div class="product-card">
                <img src="assets/proteina/protein.png" alt="BCAA 2400">
                <h3>Protein Premium</h3>
                <p class="preco-original">R$ 92,90</p>
                <p>­</p>
                <p>­</p>
                <p class="preco-pix">R$ 90,90 no Pix</p>
                <p class="parcelado">ou 2x de R$ 45,45</p> <!-- Corrigido -->
                <button class="buy-button">Comprar</button>
            </div>
            <div class="product-card">
                <img src="assets/proteina/wheyIron.png" alt="Hipercalórico 3kg">
                <h3>IronLabs Whey</h3>
                <p>­</p>
                <p>­</p>
                <p class="preco-original">R$ 259,90</p>
                <p class="preco-pix">R$ 184,50 no Pix</p>
                <p class="parcelado">ou 4x de R$ 46,30</p> <!-- Corrigido -->
                <button class="buy-button">Comprar</button>
            </div>
            <div class="product-card">
                <img src="assets/proteina/wheyma.png" alt="Colágeno em pó">
                <h3>Max Whey Pro</h3>
                <p class="preco-original">R$ 119,90</p>
                <p>­</p>
                <p>­</p>
                <p class="preco-pix">R$ 80,96 no Pix</p>
                <p class="parcelado">ou 2x de R$ 41,73</p> <!-- Corrigido -->
                <button class="buy-button">Comprar</button>
            </div>
            <div class="product-card">
                <img src="assets/proteina/wheypure.png" alt="ZMA 90 cápsulas">
                <h3>Whey Pure Integral </h3>
                <p>­</p>
                <p>­</p>
                <p class="preco-original">R$ 229,90</p>
                <p class="preco-pix">R$ 158,92 no Pix</p>
                <p class="parcelado">ou 3x de R$ 52,84</p> <!-- Corrigido -->
                <button class="buy-button">Comprar</button>
            </div>
            <div class="product-card">
                <img src="assets/proteina/wheyUltra.png" alt="Ômega 3 Premium">
                <h3>FitowayLabs Whey</h3>
                <p>­</p>
                <p>­</p>
                <p class="preco-original">R$ 149,90</p>
                <p class="preco-pix">R$ 105,99 no Pix</p>
                <p class="parcelado">ou 2x de R$ 53,58</p> <!-- Corrigido -->
                <button class="buy-button">Comprar</button>
            </div>
        </div>
    </section>
</main>