<div class="marquee-wrapper">
  <div class="marquee">
    <span> 🔥Produtos em promoção! Aproveite os melhores preços! 🔥</span>
    <span> 🚚 Entrega Rápida para todo o Brasil! 🚚</span>
  </div>
</div>


<section class="banner">
    <img class="banner" src="assets/propaganda.png" alt="Creatina" />
</section>

<section class="info-bar">
    <div class="info-item">
        <img src="assets/caminhao.png" alt="Entrega Rápida">
        <div>
            <strong>Entrega Rápida</strong>
            <p>Para todo país</p>
        </div>
    </div>
    <div class="info-item">
        <img src="assets/desconto.png" alt="Desconto">
        <div>
            <strong>5% OFF</strong>
            <p>Pagando no pix</p>
        </div>
    </div>
    <div class="info-item">
        <img src="assets/compraSegura.png" alt="Compra Segura">
        <div>
            <strong>Sua compra segura</strong>
            <p>Com o Mercado Pago</p>
        </div>
    </div>
    <div class="info-item">
        <img src="assets/whatsapp.png" alt="WhatsApp">
        <div>
            <strong>Contato exclusivo</strong>
            <p>Via WhatsApp</p>
        </div>
    </div>
</section>

<main class="home-main">
    <section class="brands">
        <h2>Marcas</h2>
        <div class="brand-logos">
            <img src="assets/blackskull.jpg" alt="Marca 1" />
            <img src="assets/dklab.jpg" alt="Marca 2" />
            <img src="assets/grouth.jpg" alt="Marca 3" />
        </div>
    </section>

    <section class="featured">
        <h2>Destaques</h2>
        <div class="product-grid">
            <div class="product-card">
                <img src="assets/produtos/proteinBar.png" alt="Produto em destaque 1">
                <h3>Protein Bar</h3>
                <p>­</p>
                <p class="preco-original">R$ 119,90</p>
                <p class="preco-pix">R$ 109,90 no Pix</p>
                <p class="parcelado">ou 2x de R$ 59,95</p>
                <button class="buy-button">Comprar</button>
            </div>
            <div class="product-card">
                <img src="assets/produtos/glutanneTurbo.jpg" alt="Produto em destaque 2">
                <h3>Glutanne Turbo</h3>
                <p>­</p>
                <p class="preco-original">R$ 199,90</p>
                <p class="preco-pix">R$ 179,90 no Pix</p>
                <p class="parcelado">ou 3x de R$ 66,63</p>
                <button class="buy-button">Comprar</button>
            </div>
            <div class="product-card">
                <img src="assets/produtos/whey100.jpg" alt="Hipercalórico 3kg">
                <h3>Golden Standard Whey 100%</h3>
                <p class="preco-original">R$ 189,90</p>
                <p class="preco-pix">R$ 159,90 no Pix</p>
                <p class="parcelado">ou 3x de R$ 56,63</p>
                <button class="buy-button">Comprar</button>
            </div>
            <div class="product-card">
                <img src="assets/produtos/creatinaIntegral.jpg" alt="Colágeno em pó">
                <h3>Creatina Integral</h3>
                <p>­</p>
                <p class="preco-original">R$ 99,90</p>
                <p class="preco-pix">R$ 84,90 no Pix</p>
                <p class="parcelado">ou 2x de R$ 44,95</p>
                <button class="buy-button">Comprar</button>
            </div>
            <div class="product-card">
                <img src="assets/produtos/creatinaMax.jpg" alt="ZMA 90 cápsulas">
                <h3>Max Titanium </h3>
                <p>­</p>
                <p class="preco-original">R$ 69,90</p>
                <p class="preco-pix">R$ 59,90 no Pix</p>
                <p class="parcelado">ou 2x de R$ 31,00</p>
                <button class="buy-button">Comprar</button>
            </div>
            <div class="product-card">
                <img src="assets/produtos/wheyBlack.jpg" alt="WheyBlack">
                <h3>Whey Black</h3>
                <p>­</p>
                <p class="preco-original">R$ 49,90</p>
                <p class="preco-pix">R$ 39,90 no Pix</p>
                <p class="parcelado">ou 2x de R$ 22,00</p>
                <button class="buy-button">Comprar</button>
            </div>
        </div>
    </section>

    <section class="promotions">
        <h2>Promoções</h2>
        <div class="product-grid">
            <div class="product-card">
                <img src="assets/produto3.jpg" alt="Pré-Treino Insano">
                <h3>Pré-Treino Insano</h3>
                <p class="preco-original">R$ 149,90</p>
                <p class="preco-pix">R$ 119,90 no Pix</p>
                <p class="parcelado">ou 2x de R$ 64,95</p>
                <button class="buy-button">Comprar</button>
            </div>
            <div class="product-card">
                <img src="assets/produto4.jpg" alt="BCAA 2400">
                <h3>BCAA 2400</h3>
                <p class="preco-original">R$ 89,90</p>
                <p class="preco-pix">R$ 74,90 no Pix</p>
                <p class="parcelado">ou 2x de R$ 39,95</p>
                <button class="buy-button">Comprar</button>
            </div>
            <div class="product-card">
                <img src="assets/produto9.jpg" alt="Hipercalórico 3kg">
                <h3>Hipercalórico 3kg</h3>
                <p class="preco-original">R$ 189,90</p>
                <p class="preco-pix">R$ 159,90 no Pix</p>
                <p class="parcelado">ou 3x de R$ 56,63</p>
                <button class="buy-button">Comprar</button>
            </div>
            <div class="product-card">
                <img src="assets/produto10.jpg" alt="Colágeno em pó">
                <h3>Colágeno em pó</h3>
                <p class="preco-original">R$ 99,90</p>
                <p class="preco-pix">R$ 84,90 no Pix</p>
                <p class="parcelado">ou 2x de R$ 44,95</p>
                <button class="buy-button">Comprar</button>
            </div>
            <div class="product-card">
                <img src="assets/produto11.jpg" alt="ZMA 90 cápsulas">
                <h3>ZMA 90 cápsulas</h3>
                <p class="preco-original">R$ 69,90</p>
                <p class="preco-pix">R$ 59,90 no Pix</p>
                <p class="parcelado">ou 2x de R$ 31,00</p>
                <button class="buy-button">Comprar</button>
            </div>
            <div class="product-card">
                <img src="assets/produto12.jpg" alt="Ômega 3 Premium">
                <h3>Ômega 3 Premium</h3>
                <p class="preco-original">R$ 49,90</p>
                <p class="preco-pix">R$ 39,90 no Pix</p>
                <p class="parcelado">ou 2x de R$ 22,00</p>
                <button class="buy-button">Comprar</button>
            </div>
        </div>
    </section>

</main>