<section class="banner">
    <img class="banner" src="assets/propaganda.png" alt="Creatina" router-link=""/>
</section>

<section class="info-bar">
    <div class="info-item">
        <img src="assets/caminhao.png" alt="Entrega Rápida">
        <div>
        <strong>Entrega Rápida</strong>
        <p>Para todo país</p>
        </div>
    </div>
    <div class="info-item">
        <img src="assets/desconto.png" alt="">
        <div>
        <strong>5% OFF</strong>
        <p>Pagando no pix</p>
        </div>
    </div>
    <div class="info-item">
        <img src="assets/compraSegura.png" alt="Compra Segura">
        <div>
        <strong>Sua compra segura</strong>
        <p>Com o Mercado Pago</p>
        </div>
    </div>
    <div class="info-item">
        <img src="assets/whatsapp.png" alt="">
        <div>
        <strong>Contato exclusivo</strong>
        <p>Via WhatsApp</p>
        </div>
    </div>
</section>

<main>
    <section>
    
    </section>
</main>